<ul class="list-group mt-3" *ngIf="loaded && logs.length > 0">
  <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let log of logs" [class.list-group-item-secondary]="selectedLog === log">
    <div class="col-5 pl-0">
      <a href="#" (click)="onSelect(log)">{{ log.text }}</a>
    </div>
    <div class="col-7 d-flex justify-content-end align-items-center pr-0">
      <span class="log-date">{{ log.date | date: 'short' }}</span>
      <i class="fa fa-remove ml-4" (click)="onDelete(log)"></i>
    </div>
  </li>
</ul>

<div *ngIf="loaded && logs.length === 0">
  <h5 class="text-center my-2">There are no logs in the system</h5>
</div>

<div *ngIf="!loaded">
  <h5 class="text-center my-2">Loading...</h5>
</div>
